name: ci

on:
  push:
    branches:
      - "master"

env:
  BASE_IMAGE: sadraiiali/rcssserver
  BASE_TAG: latest

jobs:
  docker:
    runs-on: ubuntu-latest
    name: Build & Push RCSSServer
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push RCSSServer
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: "${{ env.BASE_IMAGE }}:latest"

      - name: Docker Hub Description
        if: needs.check.outputs.base_readme_changed == 'true'
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ env.BASE_IMAGE }}
          readme-filepath: docker/README.docker.md
          short-description: "RoboCup Soccer Simulator Server"
  
  app-image:
    runs-on: ubuntu-16.04
    steps:
    
      - uses: actions/checkout@v2
      
      - name: install Dependency
        run: sudo apt-get update && sudo apt-get install -y g++ build-essential libboost-all-dev qt4-dev-tools libaudio-dev libgtk-3-dev libxt-dev bison flex
      
      - name: Build
        run: ./appimage/build_appimage.sh
        
      - name: Archive Binary
        uses: actions/upload-artifact@v1
        with:
          name: Server Binary
          path: server/rcssserver-x86_64.AppImage
