name: ci

on:
  push:
    branches:
      - "master"

env:
  BASE_IMAGE: sadraiiali/rcssserver
  BASE_TAG: latest

jobs:
  # docker:
  #   runs-on: ubuntu-latest
  #   name: Build & Push Docker
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v3

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3

  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v3
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}

  #     - name: Build and push RCSSServer
  #       uses: docker/build-push-action@v5
  #       with:
  #         context: .
  #         file: ./utils/docker/Dockerfile
  #         push: true
  #         tags: "${{ env.BASE_IMAGE }}:latest"

  #     - name: Docker Hub Description
  #       uses: peter-evans/dockerhub-description@v4
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}
  #         repository: ${{ env.BASE_IMAGE }}
  #         readme-filepath: utils/docker/README.md
  #         short-description: "RoboCup Soccer Simulator Server"
  
  app-image:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v4

      # - name: Build app image on 18.04
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     file: ./utils/appimage/Dockerfile.builder-1804
      #     push: false
      #     tags: "builder-image:1804"

      # - name: Build app image on 18.04
      #   run: |
      #     docker run --privileged \
      #       --name builder-1804 \
      #       builder-image:1804 /rcssserver/utils/appimage/build_appimage.sh
      
      
      
      - name: Build app image on 20.04
        run: |
          docker build -t builder-image:2004 -f ./utils/appimage/Dockerfile.builder-2004 .
      
      - name: Build app image on 20.04
        run: |
          docker run --privileged \
            --name builder-2004 \
            builder-image:2004 /rcssserver/utils/appimage/build_appimage.sh
          ls -la
          docker cp builder-2004:/rcssserver/rcssserver-x86_64.appimage .
            

      - name: Build app image on 24.04
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./utils/appimage/Dockerfile.builder-2404
          push: false
          tags: "builder-image:2404"
      

      - name: Build app image on 24.04
        run: |
          docker run --privileged \
            --name builder-2404 \
            builder-image:2404 /rcssserver/utils/appimage/build_appimage.sh
            

      
      # release the artifact
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "./rcssserver-x86_64*"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: "${{ github.ref }}"

          