name: ci

on:
  push:
    branches:
      - "master"

env:
  BASE_IMAGE: sadraiiali/rcssserver
  BASE_TAG: latest

jobs:
  # docker:
  #   runs-on: ubuntu-latest
  #   name: Build & Push RCSSServer
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v3
  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3
  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v3
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}
  #     - name: Build and push RCSSServer
  #       uses: docker/build-push-action@v5
  #       with:
  #         context: .
  #         file: ./docker/Dockerfile
  #         push: true
  #         tags: "${{ env.BASE_IMAGE }}:latest"

  #     - name: Docker Hub Description
  #       uses: peter-evans/dockerhub-description@v4
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}
  #         repository: ${{ env.BASE_IMAGE }}
  #         readme-filepath: docker/README.md
  #         short-description: "RoboCup Soccer Simulator Server"
  
  app-image:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v4
      
      - name: install Dependency
        run: sudo apt-get update && DEBIAN_FRONTEND="noninteractive" sudo apt-get install -y tzdata gcc g++ wget libfl-dev flex bison libboost-all-dev automake make cmake iputils-ping build-essential libtool 
      
      - name: Build
        run: sudo ./appimage/build_appimage.sh
        
      - name: Archive Binary
        uses: actions/upload-artifact@v1
        with:
          name: Server Binary
          path: ./rcssserver-x86_64.AppImage
